.glassCard{
    width: 500px;
    height: 300px;
    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 2px px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    margin-bottom: 5rem;

    @media only screen and (max-width: 420px){
        width: 100%;
        height: auto;
    }
}


